<div class="container">
  <h1>Thông tin chi tiết đơn hàng</h1>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Mã đơn hàng: </strong> {{ orderResponse.id }}</p>
      <p><strong>ID người dùng:</strong> {{ orderResponse.user_id }}</p>
      <p><strong>Họ và tên:</strong> {{ orderResponse.fullname }}</p>
      <p><strong>Số điện thoại:</strong> {{ orderResponse.phone_number }}</p>
      <p><strong>Email:</strong> {{ orderResponse.email }}</p>
      <p><strong>Địa chỉ:</strong> {{ orderResponse.address }}</p>
      <p><strong>Ghi chú:</strong> {{ orderResponse.note }}</p>
      <p><strong>Ngày đặt hàng:</strong> {{ orderResponse.order_date | date }}</p>
    </div>
    <h3>Order Details</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
      </tr>
      </thead>
      <tbody>
        @for (order_detail of orderResponse.order_details; track order_detail) {
          <tr>
            <td>{{ order_detail.product_name }}</td>
            <td>
              <p>{{ order_detail.price }}</p>
            <td>
              <p>{{ order_detail.number_of_products }}</p>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="col-12 gap-4 d-flex justify-content-end">
      <button
        (click)="onBack()"
        class="btn btn-danger"
        type="button"
      >
        Quay lại
      </button>
    </div>
  </div>
</div>